/*
    font-family: 'Lato', sans-serif;
    font-family: 'Nova Flat', cursive;
    font-family: 'Fugaz One', cursive;
    font-family: 'Sofia', cursive;*/

/**Page Content**/
main{
    color: #fff;
    padding:10px 0;
    width: 90%;
    margin: 0 auto ;
    border-left:3px solid #ff2da9;
    border-right:3px solid #ff2da9;
    background-color: #1f1f1f;
    text-align: center;
    min-height: 80%;
}
header{
    padding: 10px;
}
#search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#search-bar>i{
    color:#2ce4ff;
    height:100%;
    width: 30px;
    margin-left: -40px;
    z-index: 0;
    font-size: large;
}
#search-bar input{
    display: block;
    font-family: cursive;
    font-size: 1.2vw;
    user-select: none;
    -webkit-user-drag: none;
    border: 2px solid #ff2da9;
    background-color: #1f1f1f00;
    padding: 5px 10px;
    color: #2ce4ff;
    font-family: 'Nova Flat', cursive;
    outline: none;
    display: inline-block;
    z-index: 1;
    border-radius:50px;
    width: 50%;/*responsive*/
}
#search-bar input::placeholder{
    color: #ff2da9;
    font-family: 'Sofia', cursive;
}
#filter-button{
    margin-left: 15px;
    padding: 10px;
    background-color: #1f1f1f;
    border:2px solid #ff2da9;
    color: #2ce4ff;
    border-radius: 50px;
    font-size: 0.8vw;
    outline: none;
    cursor: pointer;
}
#filter{display: none;}
#filter select,#filter input{
    font-family: cursive;
    font-size: 0.7vw;
    user-select: none;
    -webkit-user-drag: none;
    border: 2px solid #ff2da9;
    background-color: #1f1f1f00;
    padding: 5px 10px;
    color: #2ce4ff;
    font-family: 'Nova Flat', cursive;
    outline: none;
    margin-bottom:10px;
    margin-right: 10px;
}
#filter label{
    font-family: 'Sofia', cursive;
    font-size: 0.8vw;
}
.date-input {
    width: fit-content;
    text-align: left;
    display: inline-block;
}
input[type="date"]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}
/*conerts tickets*/
.concert{
    border: 3px solid #2ce4ff;
    display: inline-block;
    padding: 1vw;
    margin:5px;
    min-width: 15vw;
    font-size: 2vh;
    font-family: 'Nova Flat', cursive;
    text-align: left;
    user-select: none;
    width: 30%;/*responsive*/
}
.passed{
    border: 3px solid #22a0b2 !important;
    color: #c2c2c2;
}
.cancelled{
    border: 3px solid #ff2da9 !important;
}
.passedcancelled{
    border: 3px solid #881759 !important;
    color: #c2c2c2;
}
.concert div:nth-child(5){
    display: inline-block;
}
.artist{
    font-family: 'Sofia', cursive;
}
.city-country{
    display: inline-block;
    font-size: 1.2vh;
    vertical-align: middle;
}
.city-country::before{
    content: "(";
    width: auto;
    margin-left:10px;
    font-size: 1.2vh;
    font-family: inherit;
}
.city-country::after{
    content: ")";
    font-size: 1.2vh;
}
.addToCart{
    float: right;
    padding: 3px;
    border: 1px solid #2ce4ff;
    font-weight: 600;
    cursor: pointer;
    color: #2ce4ff;
    display: inline-block;
    font-size: 1.5vw !important;
}
.addToCart:hover{
    border: 1px solid #ff2da9;
    color: #ff2da9;
}
.con-cancelled{
    text-align: center;
    color:#ff2da9;
}
.con-option{
    padding: 3px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    margin:0 10px;
    font-size: 1.5vw !important;
}
.con-con{
    padding-top: 10px ;
    text-align: center;
}
.con-cancell{
    border: 1px solid #ff2da9;
    color: #ff2da9;
}
.con-cancell:hover{
    border: 1px solid #f64b3c;
    color: #f64b3c;
}
.con-info{
    border: 1px solid #eaff2d;
    color: #eaff2d;
}
.con-info:hover{
    border: 1px solid #ffbc2d;
    color: #ffbc2d;
}
/*icons before texts*/
:before,i::before{
    font-family: "Font Awesome 5 Free";
    display: inline-table;
    width: 30px;
    text-align: center;
    vertical-align: middle;
}
main div::before{
    font-size: small;
}
.artist::before{
    content: '\f3c9';
    font-weight:600;
}
.address:before{
    content: '\f3c5'; 
    font-weight:600;
}
.building:before{
    content: '\f64f'; 
    font-weight:600;
}
.date:before{
    content: '\f073'; 
}
.price:before{
    content: '\f3d1'; 
}
.price:after{
    font-size: xx-small;
    content: " Pp";
}
.pesetas:after{
    font-size: small;
    content: " Pp";
}
.amount:before{
    content: '\f3ff';
    font-weight:600; 
}
.chat:before{
    content: '\f086'; 
}
.code:before{
    content: '\f121';
    font-weight:600;  
}
.code-branch:before{
    content: '\f126';
    font-weight:600; 
}
.phone:before{
    content: '\f3cd'; 
    font-weight:600; 
}
.copy-rights:before{
    content: '\f1f9'; 
}
.mail:before{
    content: '\f1fa'; 
    font-weight:600; 
}
.home:before{
    content: '\f015';
    font-weight:600;  
}
.person:before{
    content: '\f2bb';
}
.hashtag:before{
    content: '#';
}
/**/
#CREATE{
    color: #fff;
    padding:10px 0;
    width: 90%;
    margin: 0 auto ;
    border-left:3px solid #ff2da9;
    border-right:3px solid #ff2da9;
    background-color: #1f1f1f;
    text-align: center;
    min-height: 80%;
    display: none;
}
#STATISTIC{
    color: #fff;
    padding:10px 0;
    width: 90%;
    margin: 0 auto ;
    border-left:3px solid #ff2da9;
    border-right:3px solid #ff2da9;
    background-color: #1f1f1f;
    text-align: center;
    min-height: 80%;
    display: none;
}
#ERD{
    overflow: auto;
    width: 90%;
    margin: 0 auto;
    display: none;
    border-left:3px solid #ff2da9;
    border-right:3px solid #ff2da9;
    display: none;
}
/*concert-overview popup*/
#concert-info{
    width: 100%;
    height: 100%;
    background-color: #1f1f1f99;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2% 0;
    display: none;
    z-index: 1;
    overflow: auto;
}
#concert-info>div{
    overflow: auto;
    width: 80%;
    margin: 0 auto;
    border:3px solid #ff2da9;
    background-color: #1f1f1f;
    height: 100%;
}
#info-close{
    float: right;
    color: #ff2da9;
}
#info-close:hover{
    color: #f64b3c;
}
#q-info{
    color: #fff;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: fit-content;
    margin: 20px auto;
    font-size: 1.5vw;
    clear: both;
}
#q-info>div::before{
color: #2ce4ff;
font-size: 1vw;
}
#q-info>.hashtag{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
#q-info>div:nth-child(2),
#q-info>div:nth-child(3),
#q-info>div:nth-child(4){
    grid-row-start: 2;
    margin: 10px;
}
#q-info>div:nth-child(5),
#q-info>div:nth-child(6),
#q-info>div:nth-child(7){
    grid-row-start: 3;
    margin: 10px;
}
#con-tic-pie{
    width: 50%;
    display: inline-block;
    float: left;
}
#con-profit-bar{
    width: 50%;
    display: inline-block;
    float: left;
}