/*
    font-family: 'Lato', sans-serif;
    font-family: 'Nova Flat', cursive;
    font-family: 'Fugaz One', cursive;
    font-family: 'Sofia', cursive;*/

/**Page Content**/
main{
    color: #fff;
    padding:10px 0;
    width: 90%;
    margin: 0 auto ;
    border-left:3px solid #ff2da9;
    border-right:3px solid #ff2da9;
    background-color: #1f1f1f;
    text-align: center;
    min-height: 80%;
}
header{
    padding: 10px;
}
#search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#search-bar>i{
    color:#2ce4ff;
    height:100%;
    width: 30px;
    margin-left: -40px;
    z-index: 0;
    font-size: large;
}
#search-bar input{
    display: block;
    font-family: cursive;
    font-size: 1.2vw;
    user-select: none;
    -webkit-user-drag: none;
    border: 2px solid #ff2da9;
    background-color: #1f1f1f00;
    padding: 5px 10px;
    color: #2ce4ff;
    font-family: 'Nova Flat', cursive;
    outline: none;
    display: inline-block;
    z-index: 1;
    border-radius:50px;
    width: 50%;/*responsive*/
}
#search-bar input::placeholder{
    color: #ff2da9;
    font-family: 'Sofia', cursive;
}
#filter-button{
    margin-left: 15px;
    padding: 10px;
    background-color: #1f1f1f;
    border:2px solid #ff2da9;
    color: #2ce4ff;
    border-radius: 50px;
    font-size: 0.8vw;
    outline: none;
    cursor: pointer;
}
#filter{display: none;}
#filter select,#filter input{
    font-family: cursive;
    font-size: 0.7vw;
    user-select: none;
    -webkit-user-drag: none;
    border: 2px solid #ff2da9;
    background-color: #1f1f1f00;
    padding: 5px 10px;
    color: #2ce4ff;
    font-family: 'Nova Flat', cursive;
    outline: none;
    margin-bottom:10px;
    margin-right: 10px;
}
#filter label{
    font-family: 'Sofia', cursive;
    font-size: 0.8vw;
}
.date-input {
    width: fit-content;
    text-align: left;
    display: inline-block;
}
input[type="date"]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}
/*conerts tickets*/
.concert{
    border: 3px solid #2ce4ff;
    display: inline-block;
    padding: 1vw;
    margin:5px;
    min-width: 15vw;
    font-size: 2vh;
    font-family: 'Nova Flat', cursive;
    text-align: left;
    user-select: none;
    width: 30%;/*responsive*/
}
.concert div:nth-child(5){
    display: inline-block;
}
.artist{
    font-family: 'Sofia', cursive;
}
.city-country{
    display: inline-block;
    font-size: 1.2vh;
    vertical-align: middle;
}
.city-country::before{
    content: "(";
    width: auto;
    margin-left:10px;
    font-size: 1.2vh;
    font-family: inherit;
}
.city-country::after{
    content: ")";
    font-size: 1.2vh;
}
.addToCart{
    float: right;
    padding: 3px;
    border: 1px solid #2ce4ff;
    font-weight: 600;
    cursor: pointer;
    color: #2ce4ff;
    display: inline-block;
    font-size: large !important;
}
.addToCart:hover{
    border: 1px solid #ff2da9;
    color: #ff2da9;
}
/*icons before texts*/
:before,i::before{
    font-family: "Font Awesome 5 Free";
    display: inline-table;
    width: 30px;
    text-align: center;
    vertical-align: middle;
}
main div::before{
    font-size: small;
}
.artist::before{
    content: '\f3c9';
    font-weight:600;
}
.address:before{
    content: '\f3c5'; 
    font-weight:600;
}
.building:before{
    content: '\f64f'; 
    font-weight:600;
}
.date:before{
    content: '\f073'; 
}
.price:before{
    content: '\f3d1'; 
}
.price:after{
    font-size: xx-small;
    content: " Pp";
}
.pesetas:after{
    font-size: small;
    content: " Pp";
}
.amount:before{
    content: '\f3ff';
    font-weight:600; 
}
.chat:before{
    content: '\f086'; 
}
.code:before{
    content: '\f121';
    font-weight:600;  
}
.code-branch:before{
    content: '\f126';
    font-weight:600; 
}
.phone:before{
    content: '\f3cd'; 
    font-weight:600; 
}
.copy-rights:before{
    content: '\f1f9'; 
}
.mail:before{
    content: '\f1fa'; 
    font-weight:600; 
}
.home:before{
    content: '\f015';
    font-weight:600;  
}
.person:before{
    content: '\f2bb';
}