#pesetas_charging{
    width: 100%;
    height: 100%;
    background-color: #1f1f1f99;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
#pesetas_charging>div{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: -5px;
    border-radius: inherit;
    padding: 5px;
    background: linear-gradient(45deg, #2ce4ff, #ff2da9);
    box-shadow: 2px -2px 8px #ff2da9,-2px 2px 10px #2ce4ff;
    display: inline-block;
    width: 70%;
}
#pesetas_form{
    background-color: #1f1f1f;
    text-align: center;
    background-clip: padding-box;
    box-shadow:-2px 2px 8px #ff2da9 inset, 2px -2px 10px #2ce4ff inset;
    padding: 1vw 4vh;
    display: inline-block;
}
#pesetas_form *{
display: block;
margin: 10px auto;
font-family: cursive;
font-size: 1.2vw;
user-select: none;
-moz-user-focus: none;
-webkit-user-drag: none;
}


#pesetas_form *:focus{
outline: none;
}
#pesetas_form img{width: 25vw;}

#pesetas_form input{
    width: 90%;
    padding: 5px 10px;
    border: none;
    background-color: #1f1f1f;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#pesetas_form div>div{
    width: 50%;
    float: left;
    margin: 0;
}
#pesetas_form label{
    color: #2ce4ff;
}
#pesetas_form input{border:2px solid #ff2da9;}
#pesetas_form input{
    color: #2ce4ff;
    border-radius:50px;
}

#pesetas_form button{
    width: 60%;
    padding: 5px 10px; 
    border-radius:50px; 
    background-color: #1f1f1f;
    color: #2ce4ff;
    border:2px solid#ff2da9;
    cursor: pointer;
}

#pesetas_form >button:hover{
    color: #ff2da9;
    border:2px solid#2ce4ff;
}

#pesetas_charging a {
    float:right;
    margin-bottom: -10px;
    color:#ff2da9;
    text-decoration: none;
}

#pesetas_charging a:hover{
    color:#2ce4ff;
    cursor: pointer;
}

#pesetas_form h1{
    font-size: 3vh;
    color: #2ce4ff;
}
#pesetas_form h2{
    font-size: 2vh;
    color: #2ce4ff;
}