    #profile{
        margin-left:auto;
        display: flex;
        flex-direction: row;
        padding: 22px;
    }
    #profile div{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #profile>div>p:last-child{
        font-size: small;
        color: #2ce4ff;
    }
    #profile > div > p:last-child:after{
        font-size: xx-small;
        content: " Pp";
    }
    #profile::before{
    content: '\f2bd'; 
    font-family: "Font Awesome 5 Free";
    font-size: x-large;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-right:10px ;
    }
    [class='fas fa-sign-out-alt'] {
        color: #ff2da9;
        font-size: 2vw;
    }
    [class='fas fa-sign-out-alt']:hover {
        color: #2ce4ff;
    }
    .selected{
        border-bottom: 3px solid #2ce4ff;
    }
    
     /**Page Content**/
    main{
        color: #fff;
        padding:1vw 0;
        width: 90%;
        margin: 0 auto ;
        border-left:3px solid #ff2da9;
        border-right:3px solid #ff2da9;
        background-color: #1f1f1f;
        text-align: center;
        min-height: 80%;
    }
    h1{
        font-size: 5vw;
        color: #ff2da9;
        margin-left: 10vw;
    }
    h2{
        font-size:2vw;
        color: #2ce4ff;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    #addpesetas{
        float: right;
        margin-right: 5vw;
        background-color: #1f1f1f;
        border: 2px solid #ff2da9;
        color: #ff2da9;
        padding: 10px;
    }
    #addpesetas:hover{
        border: 2px solid #2ce4ff;
        color:#2ce4ff;
        cursor: pointer;
    }
    #addpesetas [class='fas fa-coins']{
        font-size: 1vw;
        color: #2ce4ff;
        text-decoration: none;
        
    }
    .ticketrow, .voucherrow{
        border: 3px solid #2ce4ff;
        display: flex;
        padding: 1vw;
        margin:auto;
        margin-top: 1vh;
        font-size: 2vh;
        font-family: 'Nova Flat', cursive;
        user-select: none;
        width: 80%;/*responsive*/
    }
    #divs_heads{
        border: 3px solid #ff2da9;
    }
    .ticketrow div:nth-child(1){
        position: inherit;
        margin-inline-start: 0vw;
    }
    .ticketrow div:nth-child(2){
        position: absolute;
        margin-inline-start: 6vw;
    }
    .ticketrow div:nth-child(3){
        position: absolute;
        margin-inline-start:17vw;
    }
    .ticketrow div:nth-child(4){
        position: absolute;
        margin-inline-start:28vw;
    }
    .ticketrow div:nth-child(5){
        position: absolute;
       margin-inline-start: 35vw;
    }
    .ticketrow div:nth-child(6){
        position: absolute;
        margin-inline-start: 40vw;
    }
    .ticketrow div:nth-child(7){
        position: absolute;
        margin-inline-start: 48vw;
    }
    .ticketrow div:nth-child(8){
        position: absolute;
        margin-inline-start: 55vw;
    }
    .ticketrow div:nth-child(9){
        position: absolute;
        margin-inline-start: 60vw;
    }
    .voucherrow div:nth-child(1){
        position: inherit;
        margin-inline-start: 9vw;
    }
    .voucherrow div:nth-child(2){
        position: absolute;
        margin-inline-start: 23vw;
    }
    .voucherrow div:nth-child(3){
        position: absolute;
        margin-inline-start: 40vw;
    }
    .voucherrow div:nth-child(4){
        position: absolute;
        margin-inline-start: 56vw;
    }
    
    /*footer styling*/
    footer{
        background-color: #1a1a1a;
        padding: 2vh 0;
        text-align: center;
    }
    footer>div{
        display: inline-table;
        height: 100%;
        margin:0  20px;
        text-align: left;
        color: #ff2da9;
    }
    footer>div:last-child{
        padding: 10px;
        display: block;
        text-align: center;
    }
    footer h3{
        margin-bottom: 5px;
        color: #ff2da9;
        font-family: 'Fugaz One', cursive;
        font-weight: unset;
    }
    footer div:first-child>div{
    text-align: center;
    }
    footer img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-block;
        border: 2px solid #2ce4ff;
        margin: 0 5px;
    }
    footer p{
        color: #2ce4ff;
    }
    
    /*icons before texts*/
    :before{
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        width: 30px;
        text-align: center;
        vertical-align: middle;
    }
    main div::before{
        font-size: small;
    }
    .artist::before{
        content: '\f3c9';
        font-weight:600;
    }
    .address:before{
        content: '\f3c5'; 
        font-weight:600;
    }
    .building:before{
        content: '\f64f'; 
        font-weight:600;
    }
    .time:before{
        content: '\f017';
    }
    .country:before{
        content: '\f024';
    }
    .date:before{
        content: '\f073'; 
    }
    .price:before{
        content: '\f3d1'; 
    }
    .amount:before{
        content: '\f3ff';
        font-weight:600; 
    }
    .chat:before{
        content: '\f086'; 
    }
    .code:before{
        content: '\f121';
        font-weight:600;  
    }
    .code-branch:before{
        content: '\f126';
        font-weight:600; 
    }
    .phone:before{
        content: '\f3cd'; 
        font-weight:600; 
    }
    .copy-rights:before{
        content: '\f1f9'; 
    }
    .mail:before{
        content: '\f1fa'; 
        font-weight:600; 
    }
    .home:before{
        content: '\f015';
        font-weight:600;  
    }
    .person:before{
        content: '\f2bb';
    }
    .hashtag:before{
        content: '#';
        
    }
    .used:before{
        content: '\f14a';
    }
    #toTop{
        position: fixed;
        bottom: 10px;
        right: 0.5vw;
        font-size: 30px;
        color: #2ce4ff;
        border-radius: 100%;
        border: 3px solid #2ce4ff;
        padding: 1px 6px;
        
    }
    #toTop:hover{
        color: #ff2da9;
        border: 3px solid #ff2da9;
        } 
    
    
   
    